<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cafe">

	<select id="getList" resultType="cafeDto">
		select num , writer, title, content, viewcount, regdate
		from board_cafe 
		order by num desc
	</select>
	<insert id="insert" parameterType="cafeDto">
		insert into board_cafe(num,writer,title,content,viewcount,regdate)
		values(board_cafe_seq.nextval,#{writer},#{title},#{content},0,sysdate)
	</insert>
	<select  id="getData" parameterType="int" resultType="cafeDto">
		select num, writer, title, content, viewcount, regdate
		from board_cafe
		where num =#{num}
	</select>
	<delete id="delete" parameterType="int">
		delete from board_cafe
		where num =#{num}
	</delete>
	<update id="addviewCount" parameterType="int">
		update board_cafe 
		set viewCount = viewCount+1
		where num = #{num}
	</update>
	<update id="update" parameterType="cafeDto">
		update board_cafe
		set title=#{title} , content =#{content}
		where num = #{num}
	</update>
</mapper>










